!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv': 'x-ua-compatible', content: 'ie=edge' }
    %meta{
      name: 'viewport',
      content: 'width=device-width, initial-scale=1, shrink-to-fit=no'
    }
    %link{ rel: 'icon', href: 'images/icon-light.ico', sizes: '32x32' }
    %link{ rel: 'icon', href: 'images/icon-light.ico', sizes: '32x32', media: 'prefers-color-scheme: light' }
    %link{ rel: 'icon', href: 'images/icon-dark.ico', sizes: '32x32', media: 'prefers-color-scheme: dark' }
    %link{ rel: 'icon', type: 'image/svg+xml', href: 'images/icon-light.svg' }
    %link{ rel: 'icon', type: 'image/svg+xml', href: 'images/icon-light.svg', media: 'prefers-color-scheme: light' }
    %link{ rel: 'icon', type: 'image/svg+xml', href: 'images/icon-dark.svg', media: 'prefers-color-scheme: dark' }

    = stylesheet_link_tag 'site'
    %title= current_page.data.title || 'JES'
  %body.flex.flex-col.min-h-screen.antialiased.md:subpixel-antialiased.bg-base-100
    = partial :header
    %main.flex-1.flex-col.flex.justify-around
      = yield
    = partial :footer
